/*conteiner*/
.conteiner {
  max-width: 1440px;
  height: 100%;
  margin: auto;
  /* border: 1px solid rgb(2, 1, 20); */
}

/*header*/
header {
  display: flex;
  padding: 52px 98px;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  column-gap: 50px;
}

li {
  color: #758bfd;
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
}

.active {
  color: #27187f;
}

.search_box {
  display: flex;
  width: 222px;
  height: 56px;
  padding: 12px 8px 12px 182px;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
  border: 3px solid #758bfd;
}

.search_icon {
  font-size: 32px;
  color: #758bfd;
}

