@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Ubuntu:wght@300&display=swap");
/*conteiner*/
.conteiner {
  max-width: 1440px;
  height: 100%;
  margin: auto;
  /* border: 1px solid rgb(2, 1, 20); */
}

/*header*/
header {
  display: flex;
  padding: 52px 98px;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  column-gap: 50px;
}

li {
  color: #758bfd;
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
}

.active {
  color: #27187f;
}

.search_box {
  display: flex;
  width: 222px;
  height: 56px;
  padding: 12px 8px 12px 182px;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
  border: 3px solid #758bfd;
}

.search_icon {
  font-size: 32px;
  color: #758bfd;
}
/*section*/
section {
  display: flex;
  width: 1440px;
  height: 1052px;
  padding: 115px 98px;
  justify-content: center;
  align-items: center;
  background-color: #ddeaf8;
}

.cards {
  width: 1244px;
  height: 717px;
  border-radius: 10px;
  /* background-color: red; */
}

h2 {
  color: #27187f;
  font-family: Ubuntu;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 68px;
}

.image_div {
  width: 1244px;
  height: 717px;
  display: flex;
  flex-wrap: wrap;
  /* background-color: #081018; */
  gap: 22px;
}

.image_list_box {
  display: flex;
  width: 400px;
  height: 333px;
  padding: 33px 30px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* border: 2px solid rgb(0, 6, 2); */
  background-color: white;
  justify-content: space-between;
}

p {
  color: #133b3a;
  font-size: 20px;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
}
